/* Style de base pour le conteneur des petites catégories */
.categoriesSmallContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  overflow: hidden;
}

/* Styles pour tablettes */
@media (max-width: 768px) {
  .categoriesSmallContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 180px);
    gap: 15px;
  }
}

/* Styles pour mobiles */
@media (max-width: 576px) {
  .categoriesSmallContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 150px);
    gap: 15px;
  }
} 